<%= turbo_frame_tag "new_alternative" do %>
    <%= form_with(model: @new_alternative, scope: :alternative, url: admin_summary_alternatives_path(@summary), multipart: true, class: "flex") do |f| %>
      <div class="flex flex-col mt-6 items-center border border-slate-300 rounded bg-white w-fit">
        <%= f.hidden_field :summary_id, value: @summary.id %>
        <div class="flex flex-col p-4 w-full"> 
            <span class="pb-2"><%= f.label :title %></span>
            <span><%= f.text_field :title, class: "rounded" %></span>
        </div>     
        <div class="flex justify-between items-center p-4 w-full border-t-2"> 
            <span class=""><%= f.label :money_saved %></span>
            <span><%= f.number_field :money_saved, class: "rounded max-w-[8rem]" %></span>
        </div>  
        <div class="flex justify-between items-center p-4 w-full border-t-2"> 
            <span class=""><%= f.label :time_saved %></span>
            <span><%= f.number_field :time_saved, class: "rounded max-w-[8rem]" %></span>
        </div>    
        <div class="flex flex-col p-4 w-full border-t-2"> 
            <span class="pb-2"><%= f.label :use_case %></span>
            <span><%= f.text_field :use_case, class: "rounded" %></span>
        </div>    
      </div>
      <div class="flex flex-col mt-6 items-center border border-slate-300 rounded bg-white w-fit">                     
        <div class="flex flex-col p-4 w-full h-full"> 
            <span class="pb-2"><%= f.label :pros %></span>
            <span class="h-full"><%= f.text_area :pros, class: "rounded grow-1" %></span>
            <span class="py-2"><%= f.label :cons %></span>
            <span class="h-full"><%= f.text_area :cons, class: "rounded grow-1" %></span>
            <%= f.submit "Create alternative", class: "btn btn-blue text-sm rounded font-light mt-4" %>
        </div>    
      </div>
    <% end %>
<% end %>