<div class="flex justify-between p-6">
    <span class="text-2xl self-center">Lessons</span>
    <%= link_to "New lesson", new_admin_subject_lesson_path(@subject), 
        data: { turbo_frame: "new_lesson" }, class: "btn btn-blue border-black bg-slate-grey text-xl font-light rounded-xl" %>
  </div>
  <div class="flex flex-row items-start">
        <div class="flex flex-1 flex-row flex-wrap max-w-full">
            <% @lessons.each do |lesson| %>
                    <%= link_to admin_lesson_path(lesson), class: "mb-6 min-w-[20rem] max-w-[25rem] flex-1 border-2 group rounded mx-6 px-6 py-2 shadow-md hover:shadow-lg hover:border 
                            hover:bg-emerald-50 hover:border-l-4 bg-white flex items-center flex-col h-fit", data: { turbo_frame: "show_lesson" } do %>
                                <div class="w-full flex justify-between items-center">
                                    <span class="text-xl font-semibold group-hover:underline flex-1">
                                        <%= lesson.title.capitalize %>
                                    </span>
                                    <span class="text-xl">
                                        <%= "#{lesson.lesson_pages_count} pages" %>
                                    </span>
                                </div>
                    <% end %>
            <% end %>
        </div>
        <%= turbo_frame_tag "show_lesson", target: "_top" %>           
        <%= turbo_frame_tag "new_lesson", target: "_top" %>           
  </div>