<div class="title py-6 text-center text-4xl bg-slate-200">
      <div class="py-6"><%= @lesson.title.capitalize %></div>
</div>
<div class="flex md:flex-row flex-col p-6 mx-10 mt-6">
            <% if @image.representable? %>
                <%= image_tag @image.representation(resize_to_limit: [300, 300]), class: "flex-1" %>
            <% end %>
          <div class="flex-1 pt-10 px-16 flex flex-col justify-between align-center">
               <div class="text-xl text-center">Description:</div>
              <div class="p-2 text-lg flex-1 text-center">
                    <%= @lesson.subtitle.capitalize %>
              </div>
              <%= link_to problem_path(@lesson), class: "p-4" do %>
                <button class="btn btn-blue border-black bg-slate-grey text-3xl font-light w-full rounded-xl">
                        Start Lesson
                </button>
              <% end %>
          </div>
</div>
<div class="bg-[#F7FCFC]">
    <div class="mx-10 p-6 flex flex-col items-center">
        <div class="text-2xl text-center pt-4">
            Lesson Objectives:
        </div>
        <ul class="p-6 list-disc">
            <% @lesson.objectives.each do |objective| %>
                <li><%= objective %></li>
            <% end %>
        </ul>
    </div>
</div>

